html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#page-ground {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0c072b;
  text-align: center;
}

#game-board {
  height: 29em;
  width: 29em;
  background-color: blue;
  margin: 0em;
  position: absolute;
  margin: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cell {
  background-color: #0c072b;
}

.marker{
  font-size: 7em;
  color: white;
}

#game-over{
  color: white;
  top: 8.5em;
  left: 2em;
  position: absolute;
  font-size: 4em;
  margin-bottom: -7em;
}
